.menu-left{
  border: solid 2px red;
}
.icon-menu-left{
  width: 3vw;
  margin-top: 2vw;

}
.space-icon{
  margin-top: 5vw; }


.screen-right{
  border: solid 2px blue;
}

.menu-left-screen-right{
  border: solid 2px orange;
  padding-left: 0px!important; 
}

.menu-right-screen-right{
  border: solid 2px yellow;
}

li{
list-style-type: none;
vertical-align: middle;
}

.icon-menu-top{
  width: 2vw;
}
.icon-next{
  width: 0.7vw;

}
.icon-book{
  width: 2vw;
}
.orange-background{
  background-color: #e77814;
}
