p{
  font-family: 'Open Sans', sans-serif;
}

h1{
  font-family: 'Open Sans', sans-serif;
}

.total{
  display: flex;
}

.menu-left{
  background-color: #c7c7c7;
}

.icon-menu-left{
  width: 3vw;
  margin-top: 2vw;
}

.space-icon{
  margin-top: 5vw;
}

.screen-right{

}

.menu-left-screen-right{

  /*padding-left: 0px!important;*/
}

.menu-right-screen-right{
}

.overview{
    background-color: #323b46;
}

.overview-text{
  color: white;
}

li{
list-style-type: none;
vertical-align: middle;
}

.icon-menu-top{
  width: 2vw;
}
.icon-next{
  width: 0.7vw;

}
.icon-book{
  width: 2vw;
}
.orange-background{
  background-color: #e77814;
}

.repeat-movie{
  border-bottom: solid 1px #c7c7c7;
  border-right: solid 1px #c7c7c7;

}

.align-text{
  position: relative;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(40%);
}

.box-collection{
  border-bottom: solid 1px #c7c7c7
}

.box-collection-total{
  display: flex;
}
