<div class="container">
    <div class="row">
        <div class="col-xs-2 menu-left">
            <ul>
                <li><img src="./img/dashboard.png" alt="dashboard"></li>
                <li><img src="./img/calendar_1.png" alt="calendar_1"></li>
                <li><img src="./img/bookmark.png" alt="bookmark"></li>
                <li><img src="./img/maintenance.png" alt="maintenance"></li>
                <li><img src="./img/Location.png" alt="Location"></li>
                <li><img src="./img/document.png" alt="document"></li>
                <li><img src="./img/comments.png" alt="comments"></li>
                <li><img src="./img/settings.png" alt="settings"></li>

            </ul>

        </div>
        <div class="col-xs-10 screen-right">
          <div class="col-xs-3 menu-left-screen-right">

          </div>
          <div class="col-xs-9 menu-right-screen-right">

          </div>


        </div>

    </div>

</div>
